


/* Custom brand logo
-------------------------------------------------- */
.navbar-brand{
  background: url(/static/files/missionemrlogo_web.png) no-repeat left center;
  height: 50px;
  width: 150px;
  margin-top: 2.5px;
}