{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    
    <title>{% block title %}{% endblock title %}</title>

    {%- block metas %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {%- endblock metas %}

    {%- block styles %}
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/css/bootstrap.custom.css" rel="stylesheet" media="screen">
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    {%- endblock styles %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
		
	<!-- NAVBAR -->
    {% block navbar %}
        <div class="navbar navbar-default" role="navigation">
            <div class = "container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="home"></a>
                </div>
                <div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-center">
                        <li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li> <!-- class="active" -->
						<a href="master"><i class="fa fa-bar-chart">Clinic</i></a></li>
						<li><a href="#"></a></li>
						<li><a href="#"></a></li>
						<li>
						<a href="reports">Reports</a></li>
						<li><a href="#"></a></li>						
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
						<li><a href="demo">Contact</a></li>
						<!-- <li><a href="#"></a></li> -->
                        {% if current_user.is_authenticated() %}
                        <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                        {% else %}
                        <li><a href="{{ url_for('login') }}">Sign In</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {%- endblock navbar %}

	<!-- SEARCHBAR -->
	{% block searchbar -%}
	<!-- Placeholder for Form fields -->
		<div class="container">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon input-sm"><b>Station:</b></span>
						<!-- <select class="form-control input-sm">
							<option>Station</option>
							<option>First Name</option>
							<option>Last Name</option>
							<option>Birthday</option></select> -->
						<input type="text" class="form-control input-sm" placeholder="Search">
						<span class="input-group-btn">
							<button class="btn btn-default btn-sm" type="button">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	{%- endblock searchbar %}
	
	<!-- CONTENT -->
    {% block content -%}
	<div class="col-md-2">
		<p><center><a href="patients_today" class="btn-station btn-block" role="button">
			<i class="fa fa-users"></i> Today</a></p>
		<p><a href="{{ url_for('registration_search') }}" class="btn-station btn-block" role="button">
			<span class="glyphicon glyphicon-pencil"></span>  Registration</a></p>
		<p><a href="{{ url_for('vitals') }}" class="btn btn-station btn-block" role="button">
			<i class="fa fa-stethoscope"></i>  Vitals</a></p>
		<p><a href="{{ url_for('doctor') }}" class="btn btn-station btn-block" role="button">
			<i class="fa fa-medkit"></i>  Doctor</a></p>
		<p><a href="{{ url_for('pharmacy') }}" class="btn btn-station btn-block" role="button">
			<img src="/static/files/icons/drugs_16px.png"> Pharmacy</a></p>
	</div>
	{% block view -%}
	
	{% block form -%}
	{%- endblock form %}

    {%- endblock view %}
	{%- endblock content %}

    {% block scripts %}
    <script src="/static/js/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {%- endblock scripts %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
