{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    
    <title>{% block title %}MissionEMR{% endblock title %}</title>

    {%- block metas %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="MissionEMR, an electronic medical record for clinics in developing nations.">
    <meta name="author" content="Pivott Ventures">
    {%- endblock metas %}

    {%- block styles %}
	<link href="/static/css/font-awesome.min.css" rel="stylesheet">
	<link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
	<link href="/static/css/base.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--<link href="/static/css/bootstrap-responsive.css" rel="stylesheet"> -->
	{%- endblock styles %}
    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
		
	<!-- NAVBAR -->
    {% block navbar %}
        <nav class="navbar navbar-default navbar-inverse">
            <div class="container">
	    		<div class="navbar-header">
					<button type="button" class="navbar-toggle"
					data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
		            </button>
		            <a class="navbar-brand" href="home"></a>
				</div>
	            <div class="collapse navbar-collapse">
	            	<ul class="nav navbar-nav">
	                	<li><a href="#"></a></li>
						<li><a href="master"><i class="fa fa-hospital-o fa-2x"></i> Clinic</a></li>
						<li><a href="reports"><i class="fa fa-line-chart fa-2x"></i> Reports</a></li>
		            </ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="demo"><i class="fa fa-envelope fa-2x"></i></a></li>
					    {% if current_user.is_authenticated() %}
						<li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-2x"></i></a></li>
		                {% else %}
		                <li><a href="{{ url_for('login') }}"><i class="fa fa-sign-in fa-2x"></i></a></li>
		                {% endif %}
		            </ul>
				</div>
			</div>
		</nav>
    {%- endblock navbar %}

	<!-- SEARCHBAR -->
	{% block searchbar -%}
	<!-- Placeholder for Form fields -->
		<div class="container">
			<div class="col-md-4">
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon input-sm"><b>Station:</b></span>
						<!-- <select class="form-control input-sm">
							<option>Station</option>
							<option>First Name</option>
							<option>Last Name</option>
							<option>Birthday</option></select> -->
						<input type="text" class="form-control input-sm" placeholder="Search">
						<span class="input-group-btn">
							<button class="btn btn-default btn-sm" type="button">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
			</div>
		</div>
	{%- endblock searchbar %}
	
	<!-- CONTENT -->
    {% block content -%}
		<div class="col-md-2">

			
			<p><center><a href="patients_today" class="btn btn-station btn-block" role="button">
				<i class="fa fa-users"></i> Today</a></p>
			<p><a href="{{ url_for('registration_search') }}" class="btn btn-station btn-block" role="button">
				<span class="glyphicon glyphicon-pencil"></span>  Registration</a></p>
			<!-- NEED TO BUILD url_for for each station -->
			<p><a href="{{ url_for('vitals') }}" class="btn btn-station btn-block" role="button">
				<i class="fa fa-plus"></i>  Vitals</a></p>
			<p><a href="{{ url_for('vitals') }}" class="btn btn-station btn-block" role="button">
				<i class="fa fa-stethoscope"></i>  Doctor</a></p>
			<p><a href="{{ url_for('vitals') }}" class="btn btn-station btn-block" role="button">
				<i class="fa fa-stethoscope"></i>  Dentist</a></p>
			<p><a href="{{ url_for('doctor') }}" class="btn btn-station btn-block" role="button">
				<i class="fa fa-heartbeat"></i>  Lab</a></p>
			<p><a href="{{ url_for('pharmacy') }}" class="btn btn-station btn-block" role="button">
				<i class="fa fa-medkit"></i>  Pharmacy</a></p>
		</div>
	{% block view -%}
	
	{% block form -%}
	{%- endblock form %}

    {%- endblock view %}
	{%- endblock content %}

    {% block scripts %}
    	<script src="/static/js/jquery-latest.js"></script>
    	<script src="/static/js/bootstrap.min.js"></script>
    	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    {%- endblock scripts %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}
