{% extends "base.html" %}

{% block content %}

<!-- of course, everything must be in french and english... how? --> 
<div class="jumbotron">
	<!-- Add <user name> input -->
	<h1>Allo Amigo!</h1> 
	<br>
	<p>Please select station:</p>
	<br>
	<p><a class="btn btn-primary btn-lg" role="button">Today's Patients</a></p>
	<br>
	<p><a class="btn btn-primary btn-lg" role="button">Registration</a></p>
	<br>
	<p><a class="btn btn-primary btn-lg" role="button">Triage</a></p>
	<br>
	<p><a class="btn btn-primary btn-lg" role="button">Doctor</a></p>
	<br>
	<p><a class="btn btn-primary btn-lg" role="button">Pharmacy</a></p>
</div>

{% endblock %}