{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block view %}

<!-- SECTION: Patient Info -->
<div class="col-sm-12">
    {% include "template_patient_info.html" %}
</div>

<!-- SECTION: Background -->
<div class="col-sm-3">
    {% include "template_background.html" %}
</div>

    {% block form %}
    {% from "form_helpers.html" import render_field %}
        <form method="POST" action="{{ url_for('doctor_exam', patient_id=patient.id) }}" class="form-signin" role="form">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

            <!-- SECTION: Visit Date -->
            <div class="col-sm-9">
                {% include "template_visit_date.html" %}
                
                <!-- VISIT DATE Section -->
                <!-- <div class="row" style="border-bottom: 3px solid #fff; background-color: rgb(243, 243, 243); padding: 10px;">
                    <span style="font-size: 12pt; margin-bottom: 30px;">{{ render_field(form.visit_date) }}</span> &nbsp; &nbsp; Today button &nbsp; &nbsp; Last button -->
                    
                    <!-- Below will need to change based on selection above -->
                    <!-- {% set visit = patient.visit_patient[0] %}
                </div> -->

                <!-- SECTION: Vitals -->
                {% include "template_vitals.html" %}
                
                <!-- VITALS Section -->
                <!-- <div>
                    <b>Vitals</b> Weight: {{visit.weight}}  Height: {{visit.height}}
                    <input type="submit" class="btn" value="View" name='view_vitals'>
                    <br>
                    Systolic Blood Pressure: {{visit.bp_systolic}}  Diastolic Blood Pressure: {{visit.bp_diastolic}}
                    <br>
                    Temperature: {{visit.temperature}}  Pulse: {{visit.pulse}}
                    <br>
                    Respirations: {{visit.respirations}}
                    {% if patient.gender == 'Female' %}
                        Last Menstrual Cycle: {{visit.period_last_date}}
                    {% endif %}
                </div> -->

                <!-- SECTION: Exam -->
                <div class="row" style="border-bottom: 3px solid #fff; background-color: rgb(246, 246, 246); padding: 10px;">
                    <div class="row" style="padding-bottom: 5px;">
                        <div class="col-sm-6">
                            <span style="font-size: 12pt; margin-bottom: 30px;">EXAM</span>
                        </div>
                        <!-- <div class="col-sm-6 text-right">
                            <a class="btn btn-primary btn-xs" role="button" href="{{ url_for('doctor_exam', patient_id=patient.id) }}">View</a> 
                        </div> -->
                    </div>


                <!-- EXAM Section -->
                <div>
                    
                    {% set t = form.complaint.process_data(visit.complaint) %}<!-- This works, but I don't like it -->
                    {{ form.complaint.label }}
                    {{ form.complaint(value=visit.complaint) }}<!-- I cannot figure out why this isn't working!!!! -->
                    {% for error in form.errors.complaint %}
                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                    <br>
                    {{ render_field(form.history) }}
                    <br>
                    {{ render_field(form.exam) }}
                    <br>
                    {{ render_field(form.diagnosis) }}
                    <br>
                    {{ render_field(form.treatment) }}
                    <br>
                    {{ render_field(form.prescrip_given) }}
                    <br>
                    {{ render_field(form.prescrip_descrip) }}
                    <br>
                    {{ render_field(form.lab_given) }}
                    <br>
                    {{ render_field(form.lab_test) }}
                    <br>
                    <input type="submit" class="btn btn-primary" value="Back" name='back'>
                    <input type="submit" class="btn btn-primary" value="Continue" name='continue'>
                </div>
            </div>
            <br>
        </form>
            
    {% endblock form %}

{% endblock view %}