{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block view %}
	<div class="col-md-10">
		<p></p>
		<div class="panel panel-default">
			<div class="panel-heading input-sm">
				<span class="glyphicon glyphicon-user"></span><b> Registration - Search or Add</b>
			</div>
			<div class="panel-body">
				{% block form %}
				
				<form method="POST" action="/registration_search" class="form-signin" role="form">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
					<div class="input-group">
						{{ form.criteria.label }}
						{{ form.criteria }}
						{{ form.search_term(class="form-control", placeholder="Search") }}
					</div>
					<input type="submit" class="btn btn-default" value="Search" name='search'>
					<br>
					<br>
					<br>
					<ul>
					{% for pat in patients %}
						<!-- <li>{{ pat.id }} {{ pat.first_name }} {{ pat.last_name }} {{ pat.age }} {{ pat.gender }}</li> -->
						<li><a href="{{ url_for('test_view', patient_id=pat.id) }}">{{pat.last_name}}, {{pat.first_name}}</a></li>
					{% endfor %}
					</ul>
				</form>
				
				{% endblock %}
			</div>
		</div>
	</div>
{% endblock view %}