{% extends "base.html" %}
{% block title %}Page 1 of Registration{% endblock %}
{% import "wtf.html" as wtf%}

{% block content %}
<div class="container">
	<div class="page-header">
		<h1>Hello, World!</h1>
	</div>
	{{ wtf.quick_form(form) }}
<!--	<form method="POST" action="/">
		{{ form.hidden_tag() }}
		{{ form.first_name.label }} {{ form.first_name(size=20) }} <br>
		{{ form.last_name.label }} {{ form.last_name(size=20) }} <br>
		{{ form.sex.label }} {{ form.sex }}
		{{ form.age.label }} {{ form.age }} <br>
	<input type="submit">
	</form> 
-->
</div>


{% endblock %}