{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block view %}
	<div class="col-md-10">
		<p></p>
		<div class="panel panel-default">
			<div class="panel-heading input-sm">
				<span class="glyphicon glyphicon-user"></span><b> Patient info</b>
			</div>
			<div class="panel-body">
				{% block patient %}
				
				<form method="POST" action="/test_output" class="form-signin" role="form">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
					<ul>
					<li>{{ patient.id }} {{ patient.first_name }} {{ patient.last_name }} {{ patient.age }} {{ patient.gender}}</li>
					</ul>
					<br>
					<br>
					<input type="submit" class="btn btn-warning" value="Add" name="add">
					<input type="submit" class="btn btn-warning" value="Erase" name="erase">
					<br>
				</form>
				
				{% endblock %}
			</div>
		</div>
	</div>
{% endblock view %}

