{% extends "base.html" %}
{% import "wtf.html" as wtf %}

{% block view %}

<!-- SECTION: Patient Info -->
<div class="col-sm-12">
    {% include "template_patient_info.html" %}
</div>

	{% block form %}
	{% from "form_helpers.html" import render_field %}
		<form method="POST" action="{{ url_for('vitals_background', patient_id=patient.id) }}" class="form-signin" role="form">
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
				<br>
				<br>
			<div class="col-sm-12">
				<div class="row" style="border-bottom: 3px solid #fff; background-color: rgb(246, 246, 246); padding: 10px;">
					{{ render_field(form.blood_type) }}
					<br>
					{{ render_field(form.hiv) }}
					{{ render_field(form.ht) }}
					{{ render_field(form.diabetes) }}
					{{ render_field(form.asthma) }}
					{{ render_field(form.epilepsy) }}
					{{ render_field(form.tb) }}
					{{ render_field(form.sickle_cell_anemia) }}
					{{ render_field(form.heart_condition) }}
					{{ render_field(form.blood_transfusion) }}
					<br>
					<br>
					{{ render_field(form.tea) }}
					{{ render_field(form.coffee) }}
					{{ render_field(form.alcohol) }}
					{{ render_field(form.drugs) }}
					<br>
			<!-- 					Placeholder: Need a check here for Female to display -->
					{{ render_field(form.period_age_start, class="form-control") }}
					<br>
					{{ render_field(form.allergies) }}
					<br>
					{{ render_field(form.immunizations) }}
					<br>
					{{ render_field(form.surgeries) }}
					<br>
					{{ render_field(form.family_history) }}
					<br>
					{{ render_field(form.background_notes) }}
					<br>
				</div>
			</div>
		</form>
	{% endblock form %}

	<!-- ACTION BUTTONS -->
	<div class="col-sm-12 text-right">
		<button type="submit" class="btn btn-primary" aria-hidden="true" value="Back" name='back'><i class="fa fa-arrow-left fa-2x"></i></button>
		<button type="submit" class="btn btn-primary" aria-hidden="true" value="Save" name='cancel'><i class="fa fa-check fa-2x"></i></button>
		<button type="button" class="btn btn-success" data-target="#testing" data-toggle="modal"><i class="fa fa-arrow-right fa-2x"></i></button>
	</div>
	

{% endblock view %}

